<div class="relative" data-controller="search" data-search-version="#{@ruby_version}" data-search-url="#{graphql_path}">
  <%= form_tag(search_url(version: @ruby_version), method: :get, class: "m-0") do %>
    <div class="relative">
      <button type="submit" class="block absolute left inset-y-0 px-4 #{'text-gray-700 fill-current' if homepage?}" aria-label="search">
        <a data-search-target="button">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
          </svg>
        </a>
      </button>
      <input id="search"
              name="q"
              data-search-target="input"
              data-action="keydown->search#onKeydown keyup->search#onKeyup"
              type="text"
              autocapitalize="off"
              autocorrect="off"
              autocomplete="off"
              placeholder="Search Ruby Documentation"
              aria-label="Search"
              title="Search"
              <% if homepage? %>
              value="<%= search_query %>"
              class="bg-white shadow-md z-0 text-gray-800 placeholder-gray-600 rounded px-3 pl-10 py-2 w-full outline-none placeholder-opacity-100"
              autofocus
              <% else %>
              class="bg-red-800 focus:bg-white focus:text-black dark:focus:bg-white dark:focus:text-black dark:bg-gray-800 py-2 placeholder-white rounded px-3 pl-10 w-full outline-none placeholder-opacity-100"
              <% end %>
              />
      <div data-search-target="autocomplete" class="w-full bg-white absolute shadow-lg rounded-bl rounded-br -mt-1 #{'text-left' if homepage?}"></div>
    </div>
  <% end %>
</div>
