---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rails.json
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.187.166.186:443
      Etag:
      - '"3d403cca3fe725492c89d69316b955e0"'
    body:
      encoding: UTF-8
      string: '{"name":"rails","downloads":603151433,"version":"8.0.2","version_created_at":"2025-03-12T03:09:11.097Z","version_downloads":552367,"platform":"ruby","authors":"David
        Heinemeier Hansson","info":"Ruby on Rails is a full-stack web framework optimized
        for programmer happiness and sustainable productivity. It encourages beautiful
        code by favoring convention over configuration.","licenses":["MIT"],"metadata":{"changelog_uri":"https://github.com/rails/rails/releases/tag/v8.0.2","bug_tracker_uri":"https://github.com/rails/rails/issues","source_code_uri":"https://github.com/rails/rails/tree/v8.0.2","mailing_list_uri":"https://discuss.rubyonrails.org/c/rubyonrails-talk","documentation_uri":"https://api.rubyonrails.org/v8.0.2/","rubygems_mfa_required":"true"},"yanked":false,"sha":"fdfaa5a83ec0388e02864e88d515959caedc88053b5f701c4deb1652d8f164c6","spec_sha":"2da4a6b10a044943a0124063abdfe505408e904b7e02e95b2f206255d8903b79","project_uri":"https://rubygems.org/gems/rails","gem_uri":"https://rubygems.org/gems/rails-8.0.2.gem","homepage_uri":"https://rubyonrails.org","wiki_uri":null,"documentation_uri":"https://api.rubyonrails.org/v8.0.2/","mailing_list_uri":"https://discuss.rubyonrails.org/c/rubyonrails-talk","source_code_uri":"https://github.com/rails/rails/tree/v8.0.2","bug_tracker_uri":"https://github.com/rails/rails/issues","changelog_uri":"https://github.com/rails/rails/releases/tag/v8.0.2","funding_uri":null,"dependencies":{"development":[],"runtime":[{"name":"actioncable","requirements":"=
        8.0.2"},{"name":"actionmailbox","requirements":"= 8.0.2"},{"name":"actionmailer","requirements":"=
        8.0.2"},{"name":"actionpack","requirements":"= 8.0.2"},{"name":"actiontext","requirements":"=
        8.0.2"},{"name":"actionview","requirements":"= 8.0.2"},{"name":"activejob","requirements":"=
        8.0.2"},{"name":"activemodel","requirements":"= 8.0.2"},{"name":"activerecord","requirements":"=
        8.0.2"},{"name":"activestorage","requirements":"= 8.0.2"},{"name":"activesupport","requirements":"=
        8.0.2"},{"name":"bundler","requirements":"\u003e= 1.15.0"},{"name":"railties","requirements":"=
        8.0.2"}]}}'
  recorded_at: Mon, 07 Apr 2025 10:08:34 GMT
recorded_with: VCR 6.3.1
