<nav class="hidden lg:block w-1/4">
  <div class="hidden lg:block lg:sticky pt-1 top-0">
    <div class="overflow-y-auto mt-24 pl-3 pr-6 h-93">
      <% sections.each do |section| %>
        <%= section %>
      <% end %>
    </div>
  </div>
</nav>
