@tailwind base;
@tailwind components;
@tailwind utilities;

pre.ruby {
  @apply p-3 rounded-b rounded-t-none overflow-auto font-mono bg-code-background text-code-text;
}

pre {
  @apply p-3 rounded bg-gray-300;
}

.mode-dark {
  pre {
    @apply bg-gray-900;
  }

  .ruby-documentation {
    dt {
      @apply bg-gray-900;
    }

    dl, dt, dd {
      @apply border-gray-700;
    }
  }
}

.ruby-string { color: #99C794; }
.ruby-keyword { color: #C594C5; }
.ruby-comment { color: #65737e; }
.ruby-constant { color: #fac863; }
.ruby-identifier { color: #ec5f67; }
.ruby-value { color: #F99157; }
.ruby-regexp { color: #5FB3B3; }
.ruby-operator { color: #5FB3B3; }

p {
  @apply my-3;
}

.overflow-wrap-break-word {
  overflow-wrap: break-word;
}

.h-93 {
  height: calc(100vh - 7rem)!important;
}

code {
  padding: 0.15rem;
  @apply bg-gray-300 rounded leading-relaxed text-sm text-gray-700;
}

.mode-dark {
  code { @apply bg-gray-700 text-gray-400; }
}

pre:not(.ruby) {
  @apply overflow-auto font-mono;
}

.ruby-documentation {
  ul {
    @apply pl-4;

    li {
      @apply list-disc;
    }
  }

  dd, dt {
    @apply w-full text-center;
  }

  dl {
    @apply flex flex-wrap border-2 border-gray-400;
  }

  dd {
    @apply px-3;
  }

  dt {
    @apply py-3 bg-gray-300;
  }

  dt:last-of-type, dd:last-of-type {
    @apply border-0;
  }

  @screen lg {
    dt, dd {
      @apply border-b-2 border-gray-400 text-center;
    }

    dd {
      @apply w-10/12 px-3;
    }

    dt {
      @apply w-2/12 p-3;
    }
  }

  h1, h2, h3, h4, h5 {
    @apply font-semibold text-lg py-1;
  }
}
