@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#header-search::placeholder {
  @apply text-white;
  @apply opacity-75;
}

html {
  @apply bg-white text-gray-800 font-body;
}

p {
  @apply py-3;
}

code {
  padding: 0.15rem;
  @apply bg-gray-200 rounded leading-relaxed text-sm;
}

pre.ruby {
  @apply p-3 bg-gray-200 rounded overflow-auto;
}

pre:not(.ruby) {
  @apply break-all whitespace-pre-wrap text-xs;
}

.pagination { @apply py-5 }
.pagination .page { @apply px-2 inline-block text-center py-0 bg-gray-100 rounded }
.page.current { @apply text-white bg-red-500 }

/* Theme adapted from: https://atelierbram.github.io/syntax-highlighting/atelier-schemes/dune/ */
.ruby-string { color: #60ac39; }
.ruby-keyword { color: #b854d4; }
.ruby-comment { color: #7d7a68; }
.ruby-constant { color: #ae9513; }
.ruby-identifier { color: #6684e1; }
.ruby-value { color: #b65611; }
.ruby-regexp { color: #1fad83; }
.ruby-operator { color: #6e6b5e; }
