/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */
@tailwind components;
@tailwind utilities;

/* purgecss start ignore */

pre.ruby {
  @apply p-3 rounded-b overflow-auto font-mono bg-code-background text-code-text;
}

.ruby-string { color: #99C794; }
.ruby-keyword { color: #C594C5; }
.ruby-comment { color: #65737e; }
.ruby-constant { color: #fac863; }
.ruby-identifier { color: #ec5f67; }
.ruby-value { color: #F99157; }
.ruby-regexp { color: #5FB3B3; }
.ruby-operator { color: #5FB3B3; }

p {
  @apply py-3;
}

.overflow-wrap-break-word {
  overflow-wrap: break-word;
}

.h-93 {
  height: calc(100vh - 7rem)!important;
}

code {
  padding: 0.15rem;
  @apply bg-gray-300 rounded leading-relaxed text-sm text-gray-700;
}

pre:not(.ruby) {
  @apply overflow-auto font-mono;
}

.pagination {
  & { @apply py-5 text-lg; }

  .current {
    & { @apply text-white bg-red-500; }
  }

  .page a, .next a, .prev  a, .last a, .first a, .current {
    & { @apply px-2 inline-block text-center py-0 rounded; }
    &:hover { @apply text-white bg-red-600; }
  }
}

[data-theme="dark"] {
  code { @apply bg-gray-700 text-gray-400; }

  .pagination .current {
    @apply bg-gray-700 text-gray-200;
  }

  .page a, .next a, .prev  a, .last a, .first a, .current {
    &:hover { @apply bg-gray-900 text-gray-200; }
  }
}

.ruby-documentation pre {
  h1, h2, h3, h4, h5 {
    @apply font-semibold text-lg py-1;
  }
}

.light-switch:before {
  content: '☾';
}

.dark-switch:before {
  content: '☼';
}

.dev-search-query {
  @apply bg-gray-900 border-gray-800;
  color: #5FB3B3;
}

/* purgecss end ignore */
