/* purgecss start ignore */
@import "tailwindcss/base";
/* purgecss end ignore */
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* purgecss start ignore */
#header-search::placeholder {
  @apply text-white;
  @apply opacity-75;
}

.top-6 {
  top: 6rem!important;
}

.h-93 {
  height: calc(100vh - 7rem)!important;
}

html {
  @apply bg-white text-gray-800 font-body;
}

p {
  @apply py-3;
}

code {
  padding: 0.15rem;
  @apply bg-gray-200 rounded leading-relaxed text-sm;
}

pre:not(.ruby) {
  @apply break-all whitespace-pre-wrap text-xs;
}

.pagination { @apply py-5 }
.pagination .page { @apply px-2 inline-block text-center py-0 bg-gray-100 rounded }
.page.current { @apply text-white bg-red-500 }

.ruby-documentation h3 {
  @apply font-bold text-lg;
}

/* Oceanic-Theme: https://labs.voronianski.com/oceanic-next-color-scheme/ */

pre.ruby {
  @apply p-3 rounded overflow-auto;
  background: #1b2b34;
  color: #d8dee9;
  font-family: "Source Code Pro", monospace;
}

.ruby-string { color: #99C794; }
.ruby-keyword { color: #C594C5; }
.ruby-comment { color: #65737e; }
.ruby-constant { color: #fac863; }
.ruby-identifier { color: #ec5f67; }
.ruby-value { color: #F99157; }
.ruby-regexp { color: #5FB3B3; }
.ruby-operator { color: #5FB3B3; }

/* purgecss end ignore */
