/* purgecss start ignore */
@import "tailwindcss/base";
/* purgecss end ignore */
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* purgecss start ignore */
#header #search::placeholder {
  @apply text-white;
  @apply opacity-75;
}

p {
  @apply py-3;
}

.top-6 {
  top: 6rem!important;
}

.h-93 {
  height: calc(100vh - 7rem)!important;
}

.outline-none {
  outline-width: 0;
}

.overflow-wrap-break-word {
  overflow-wrap: break-word;
}

.autocomplete {
  margin-top: -2px;
}

html {
  @apply bg-white text-gray-800 font-body;
}

code {
  padding: 0.15rem;
  @apply bg-gray-300 rounded leading-relaxed text-sm;
}

pre:not(.ruby) {
  @apply overflow-auto;
  font-family: "Source Code Pro", monospace;
}

.pagination {
  & { @apply py-5 text-lg }

  .current {
    & { @apply text-white bg-red-500 }
  }

  .page a, .next a, .prev  a, .last a, .first a, .current {
    & { @apply px-2 inline-block text-center py-0 rounded }
    &:hover { @apply text-white bg-red-600 }
  }
}

.ruby-documentation {
  h1, h2, h3, h4, h5 {
    @apply font-bold text-lg py-1;
  }
}

/* Oceanic-Theme: https://labs.voronianski.com/oceanic-next-color-scheme/ */

pre.ruby {
  @apply p-3 rounded overflow-auto;
  background: #1b2b34;
  color: #d8dee9;
  font-family: "Source Code Pro", monospace;
}

.ruby-string { color: #99C794; }
.ruby-keyword { color: #C594C5; }
.ruby-comment { color: #65737e; }
.ruby-constant { color: #fac863; }
.ruby-identifier { color: #ec5f67; }
.ruby-value { color: #F99157; }
.ruby-regexp { color: #5FB3B3; }
.ruby-operator { color: #5FB3B3; }

/* purgecss end ignore */
