/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */
@tailwind components;
@tailwind utilities;

/* purgecss start ignore */

pre.ruby {
  @apply p-3 rounded-b overflow-auto font-mono bg-code-background text-code-text;
}

.ruby-string { color: #99C794; }
.ruby-keyword { color: #C594C5; }
.ruby-comment { color: #65737e; }
.ruby-constant { color: #fac863; }
.ruby-identifier { color: #ec5f67; }
.ruby-value { color: #F99157; }
.ruby-regexp { color: #5FB3B3; }
.ruby-operator { color: #5FB3B3; }

p {
  @apply py-3;
}

.overflow-wrap-break-word {
  overflow-wrap: break-word;
}

.h-93 {
  height: calc(100vh - 7rem)!important;
}

code {
  padding: 0.15rem;
  @apply bg-gray-300 rounded leading-relaxed text-sm text-gray-700;
}

@screen dark {
  code { @apply bg-gray-700 text-gray-400; }
}

pre:not(.ruby) {
  @apply overflow-auto font-mono;
}

.ruby-documentation pre {
  h1, h2, h3, h4, h5 {
    @apply font-semibold text-lg py-1;
  }
}

/* purgecss end ignore */
