---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rdoc.json
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.10.202.29:443
      Etag:
      - '"2c1924d89f09bc3ee205fe0825116fe6"'
    body:
      encoding: UTF-8
      string: '{"name":"rdoc","downloads":193524957,"version":"6.13.1","version_created_at":"2025-03-29T15:08:13.203Z","version_downloads":1852493,"platform":"ruby","authors":"Eric
        Hodel, Dave Thomas, Phil Hagelberg, Tony Strauss, Zachary Scott, Hiroshi SHIBATA,
        ITOYANAGI Sakura","info":"RDoc produces HTML and command-line documentation
        for Ruby projects.\nRDoc includes the +rdoc+ and +ri+ tools for generating
        and displaying documentation from the command-line.\n","licenses":["Ruby"],"metadata":{"homepage_uri":"https://ruby.github.io/rdoc","changelog_uri":"https://github.com/ruby/rdoc/releases","source_code_uri":"https://github.com/ruby/rdoc"},"yanked":false,"sha":"62a0dac99493c94e8eb7a3fb44e55aefcb4cecb119f7991f25bddc5ed8d472f7","spec_sha":"0a3e36ab44e3e37ec07b955c68e06302b7750c4a1bee7754cedd6f470c0ae03d","project_uri":"https://rubygems.org/gems/rdoc","gem_uri":"https://rubygems.org/gems/rdoc-6.13.1.gem","homepage_uri":"https://ruby.github.io/rdoc","wiki_uri":null,"documentation_uri":null,"mailing_list_uri":null,"source_code_uri":"https://github.com/ruby/rdoc","bug_tracker_uri":null,"changelog_uri":"https://github.com/ruby/rdoc/releases","funding_uri":null,"dependencies":{"development":[],"runtime":[{"name":"psych","requirements":"\u003e=
        4.0.0"}]}}'
  recorded_at: Fri, 18 Apr 2025 05:41:05 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/rdoc.json
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 29 Mar 2025 15:08:14 GMT
      X-Backend:
      - F_Rails 52.36.103.250:443
      Etag:
      - '"6888a1e8f21086effbecb2d7026dd14a"'
    body:
      encoding: UTF-8
      string: '[{"authors":"Eric Hodel, Dave Thomas, Phil Hagelberg, Tony Strauss,
        Zachary Scott, Hiroshi SHIBATA, ITOYANAGI Sakura","built_at":"2025-03-29T00:00:00.000Z","created_at":"2025-03-29T15:08:13.203Z","description":"RDoc
        produces HTML and command-line documentation for Ruby projects.\nRDoc includes
        the +rdoc+ and +ri+ tools for generating and displaying documentation from
        the command-line.\n","downloads_count":1852493,"metadata":{"homepage_uri":"https://ruby.github.io/rdoc","changelog_uri":"https://github.com/ruby/rdoc/releases","source_code_uri":"https://github.com/ruby/rdoc"},"number":"6.13.1","summary":"RDoc
        produces HTML and command-line documentation for Ruby projects","platform":"ruby","rubygems_version":"\u003e=
        2.2","ruby_version":"\u003e= 2.6.0","prerelease":false,"licenses":["Ruby"],"requirements":[],"sha":"62a0dac99493c94e8eb7a3fb44e55aefcb4cecb119f7991f25bddc5ed8d472f7","spec_sha":"0a3e36ab44e3e37ec07b955c68e06302b7750c4a1bee7754cedd6f470c0ae03d"},{"authors":"Eric
        Hodel, Dave Thomas, Phil Hagelberg, Tony Strauss, Zachary Scott, Hiroshi SHIBATA,
        ITOYANAGI Sakura","built_at":"2025-03-23T00:00:00.000Z","created_at":"2025-03-23T19:04:56.966Z","description":"RDoc
        produces HTML and command-line documentation for Ruby projects.\n[...]
