---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/rake.json
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 01 Jun 2024 03:48:20 GMT
      X-Backend:
      - F_Rails 52.10.202.29:443
      Etag:
      - '"88555a2106837d3447d63450b8696fc9"'
    body:
      encoding: UTF-8
      string: '[{"authors":"Hiroshi SHIBATA, Eric Hodel, Jim Weirich","built_at":"2024-04-05T00:00:00.000Z","created_at":"2024-04-05T06:28:16.188Z","description":"Rake
        is a Make-like program implemented in Ruby. Tasks and dependencies are\nspecified
        in standard Ruby syntax.\nRake has the following features:\n  * Rakefiles
        (rake''s version of Makefiles) are completely defined in standard Ruby syntax.\n    No
        XML files to edit. No quirky Makefile syntax to worry about (is that a tab
        or a space?)\n  * Users can specify tasks with prerequisites.\n  * Rake supports
        rule patterns to synthesize implicit tasks.\n  * Flexible FileLists that act
        like arrays but know about manipulating file names and paths.\n  * Supports
        parallel execution of tasks.\n","downloads_count":110924460,"metadata":{"changelog_uri":"https://github.com/ruby/rake/blob/v13.2.1/History.rdoc","bug_tracker_uri":"https://github.com/ruby/rake/issues","source_code_uri":"https://github.com/ruby/rake/tree/v13.2.1","documentation_uri":"https://ruby.github.io/rake"},"number":"13.2.1","summary":"Rake
        is a Make-like program implemented in Ruby","platform":"ruby","rubygems_version":"\u003e=
        0","ruby_version":"\u003e= 2.3","prerelease":false,"licenses":["MIT"],"requirements":[],"sha":"46cb38dae65d7d74b6020a4ac9d48afed8eb8149c040eccf0523bec91907059d","spec_sha":"89640f0d3f6419a7aeea1d98905bf476a47f1c06d48feb8a6907769f37612924"},{"authors":"Hiroshi
        SHIBATA, Eric Hodel, Jim Weirich","built_at":"2024-04-02T00:00:00.000Z","created_at":"2024-04-02T01:31:04.122Z","description":"Rake
        is a Make-like program implemented in Ruby. Tasks and dependencies are\nspecified
        in standard Ruby syntax.\nRake has the following features:\n  * Rakefiles
        (rake''s version of Makefiles) are completely defined in standard Ruby syntax.\n    No
     [...]
