-# frozen_string_literal: true
- description "Easily find and browse Ruby classes, modules and methods"
- content_for :head do
  script type="application/ld+json"
      | {
          "@context": "https://schema.org",
          "@type": "WebSite",
          "url": "#{request.base_url}",
          "potentialAction": {
            "@type": "SearchAction",
            "target": "#{search_url}?q={search_term_string}",
            "query-input": "required name=search_term_string"
          }
        }

div class="bg-red-600 dark:bg-gray-700 text-white p-3"
  div class="flex flex-col justify-center items-center p-6 md:pt-6 pt-0 text-center"
      h2 class="md:text-3xl text-2xl font-semibold my-3" Search and Explore Ruby Documentation
      div class="2xl:w-4/12 md:w-6/12 w-full"
        = render 'layouts/search_form'
div class="p-6 max-w-screen-xl mx-auto"
  div class="flex flex-wrap"
    - @tiles.each do |tile|
      div class="block w-full md:w-6/12 md:p-3 py-3"
        div class="p-3 h-full border border-gray-300 dark:border-gray-700 rounded flex flex-col justify-between"
          div
            h2 class="text-xl font-semibold text-gray-800 dark:text-gray-200"
              = tile.name
            p class="py-1 dark:text-gray-400"
              = group_classes(tile.classes)

