== link_to t('views.pagination.next').html_safe, url, class: "flex-1 px-4 py-2 border-l-0 border border-gray-300 text-sm leading-5 font-medium rounded-r-md bg-white hover:text-gray-500 transition ease-in-out duration-150"