== link_to t('views.pagination.previous').html_safe, url, class: "flex-1 px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-l-md bg-white hover:text-gray-500 transition ease-in-out duration-150"