.container {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

.container--homepage {
  background: $primary-red;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
