// hax
.logo-home {
  display: inline-flex;
  text-align: center;
  margin: 1rem 0;

  .logo__title {
    margin: 5px 0 0 1rem;
  }
}

.logo__graphic {
  width: 5rem;
  height: 5rem;
}

.logo__graphic--small {
  width: 2.5em;
  height: 2.0em;
}

.logo__title {
  display: inline-block;
}

.logo__title--small {
  font-size: 1.5em;
  margin: 0;
}
