.method {
  border-radius: 5px;
  padding:1rem;
  margin:1rem 0;

  &:first-child {
    margin-top: 0;
  }

  &:hover {
    background: darken($background-color, 3%);
  }
}

.method__header h4 {
  font-weight: bold;
}

.method__header {
  display: flex;
  justify-content: space-between
}
