.navbar {
  grid-area: header;
  padding: 15px;
  align-items: center;
  display: flex;
  background: $primary-red;
  color: white;

  a { color: white; display: inherit }
  h1 { display: inline-block; margin: 0 15px; }
}
