.navbar {
  grid-area: header;
  padding: 15px 30px;
  align-items: center;
  display: flex;
  background: $primary-red;
  color: white;
  justify-content: space-between;

  a { color: white; display: inherit }
  h1 { margin: 0 8px; }

  .version-container {
    li:hover > ul, li:focus-within > ul, li ul:hover {
      visibility: visible;
      opacity: 1;
      display: block;
    }
  }

  .version-list {
    visibility: hidden;
    opacity: 0;
    display: none;
    position: absolute;
    background: lighten($primary-red, 15%);
    color: white;
    margin: -2px 0 0 0;

    .version {
      text-align: center;

      a {
        padding: 8px 28px 8px 10px;

        &:hover { background: $primary-red; }
      }
    }
  }

  .version-switch {
    padding: 8px 10px;
    border-radius: 5px;
    background: lighten($primary-red, 15%);

    .fas { line-height: 1.5; }
  }
}
