.page {
  height:100%;
  width: 100%;
  max-width: 960px;
  margin:0 auto;
}

.page--title {
  margin: 1rem 0;
}

.page__header {
  display: flex;
  justify-content: space-between;
}

.page__header{
  margin: 1rem 0;
  padding: 1rem;
}

.page__description {
  padding: 0 1rem;
}
