.page {
  height:100%;
  width: 100%;
  max-width: 760px;
  margin:0 auto;
}

.page--title {
  margin: 20px 0;
}

.page__header {
  margin-bottom: 30px;
  padding: 30px 0;
  border-bottom: 1px solid #efefef;
}
