.search-result {
  border-radius: 5px;
  padding:1rem;
  margin:1rem 0;

  &:last-child {
    margin-bottom: 1rem;
  }

  &:hover {
    background: darken($background-color, 3%);
  }
}

.search-result__header {
  display: flex;
  justify-content: space-between;

  h4 {
    font-weight: bold;
  }
}
