.search {
  input[type="text"] {
    background: $primary-red;
    border-radius: 5px;
    width: 570px;
    border: none;
    padding: 13px 22px;
    color: white;
    font-size: 1em;

    &:focus {
      outline-width: 0;
    }

    &::placeholder {
      color: darken(white, 5%);
    }
  }

  button[type="submit"] {
    position: relative;
    background: none;
    border: none;
    left: -50px;
    font-size: 1.25em;
    color: white;
  }
}

.search--header input[type="text"] {
  background: darken($primary-red, 8%);
}
