.search {
  input[type="text"] {
    background: darken($primary-red, 8%);
    border-radius: 5px;
    width: 570px;
    border: none;
    padding: 13px 22px;
    color: white;
    font-size: 1em;

    &:focus {
      outline-width: 0;
    }

    &:focus::-webkit-input-placeholder { color:transparent; }
    &:focus::-moz-placeholder { color:transparent; }
    &:focus:-ms-input-placeholder { color:transparent; }

    &::placeholder {
      color: darken(white, 5%);
    }
  }

  button[type="submit"] {
    position: relative;
    background: none;
    border: none;
    left: -50px;
    font-size: 1.25em;
    color: white;
  }
}

.search--homepage {
  input[type="text"] {
    background: $background-color;
    box-shadow: 0 5px 8px darken($primary-red, 8%);
    color: $font-color;

    &::placeholder {
      color: $font-color;
    }
  }

  .fas {
    color: $font-color;
  }
}
