.search {

  &.search-header {
    margin: 0 20px;

    input[type="text"] {
      background-color: #C30041;
    }
  }

  input[type="text"] {
    background-color: $primary-red;
    border-radius: 5px;
    width: 570px;
    border: none;
    padding: 13px 22px;
    color: white;
    font-size: 1em;
  }

  button[type="submit"] {
    position: relative;
    background: none;
    border: none;
    left: -50px;
    font-size: 1.25em;
    color: white;
  }

  input:focus {
    outline-width: 0;
  }

  input::placeholder {
    color: darken(white, 5%);
  }
}
