$primary-red: #DE004A;
$font-color: #393E41;
$background-color: #ffffff;
$background-alt-color: #eaeaea;
$font-family: proxima-nova, sans-serif;
$border-radius-width: 5px;

@import "font-awesome-sprockets";
@import "font-awesome";

@import "_typeface";
@import "_layout";
@import "_browser_notice";
@import "_type";
@import "_navbar";
@import "_footer";
@import "_search";
@import "_code";
@import "_logo";
@import "_page";
@import "_method";
@import "_search_result";

body {
  color: $font-color;
  font-family: $font-family;
  background: $background-color;
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $font-color;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

hr {
  margin: 1rem;
  height: 1px;
  border: 0;
  background: $background-alt-color;
}
