<div class="method" id="<%= method.anchor %>">
  <div class="method-header">
    <h3>
      <%= link_to method.name, object_path(version: ruby_version, anchor: method.anchor) %>
    </h3>
    <%= render partial: 'layouts/type', locals: { object: method } %>
  </div>
  <% if method.description.empty? %>
    <div class="empty-description">No documentation available</div>
  <% else %>
    <%= raw method.description %>
  <% end %>
</div>
