<content class="ruby-documentation">
  <div class="sidebar"></div>
  <div class="hero">
    <h1><%= @object.name %></h1>
    <%= raw @object.description %>
  </div>
  <div class="methods">
    <%= render partial: 'objects/method', collection: @object.ruby_methods, cache: true %>
  </div>
</div>