<% content_for(:title) { @object.name } %>
<div class="page page-object">
  <div class="object-header">
    <h1><%= @object.name %></h1>
    <div class="object-description">
      <%= raw @object.description %>
    </div>
  </div>
  <div class="methods">
    <%= render partial: 'objects/method', collection: @object.ruby_methods, cache: true %>
  </div>
</div>
