button id="darkmode-toggle" class="relative z-20 text-xl" data-action="theme-switch#toggle" aria-label="Toggle theme" title="Toggle theme"
  i class="far fa-moon switch-in-light"
  i class="fas fa-moon switch-in-dark"
