<footer class="footer">
  <div>Made with <span class="fas fa-heart"></span> in Melbourne, Australia</div>
  <ul class="links">
    <li><a href="#">Github</a></li>
    <li><a href="#">About</a></li>
  </ul>
</footer>
