<nav class="navbar" role="navigation" aria-label="main navigation">
  <%= link_to root_path do %>
    <%= inline_svg "logo.svg", class: "logo logo-header" %>
    <h1>Ruby API</h1>
  <% end %>
  <%= render "layouts/search", header: true unless current_page?(root_path) %>
</nav>
