<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="logo"><h1>Ruby API</h1></div>
  <div class="menu">
    <a class="menu-item" href="#">Browse Documentation</a>
  </div>
</nav>
