-# frozen_string_literal: true
= link_to root_path, class: "block" do
  = inline_svg_pack_tag "media/packs/app/logo-plain.svg", class: "md:hidden w-10 h-10"
  = inline_svg_pack_tag "media/packs/app/logo.svg", class: "hidden md:block w-48"
