<%= inline_svg "logo.svg", class: "logo__graphic #{"logo__graphic--small" if defined?(small) && small}" %>
<h1 class="logo__title <%= "logo__title--small" if defined?(small) && small %>">Ruby API</h1>

