-#frozen_string_literal: true
div class="relative ml-4 md:block hidden" data-controller="theme-switch"
    button id="darkmode-toggle" class="relative z-20 text-xl hover:text-red-100 dark:hover:text-gray-400 hover:fill-current" data-action="theme-switch#toggle" aria-label="Toggle theme" title="Toggle theme"
        i class="fas fa-sun" data-target="theme-switch.switch"
