-#frozen_string_literal: true
div class="relative" data-controller="theme-switch"
  button id="darkmode-toggle" class="relative z-20 hover:opacity-70" data-action="theme-switch#toggle" aria-label="Toggle theme" title="Toggle theme"
    i class="fas fa-sun fa-lg" data-theme-switch-target="switch"
